@import "reset.css";

:root {
  --background-color: #ffffff;
  --primary: #a3a3a3;
  --secondary: #f5f5f5;
  --text-primary: #0a0a0a;
  --text-secondary: #262626;
  --brand: #0ea5e9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

.container {
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

/*HEADER STYLES*/
.header {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--background-color);
}

.header__menu {
  display: flex;
  gap: 0.5rem;
}

/* .header__cart-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  border-radius: 9999px;
  stroke: var(--text-secondary);
} */

/*MAIN STYLES*/
main {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
}

/*SHIPPING STYLES*/
.shipping {
  width: 100%;

  background-color: var(--background-color);
}

.shipping__form {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  gap: 0.8rem;
}

.shopping-cart__remove-button {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.shopping-cart__remove-button:hover {
  transform: scale(1.1);
}

.shipping__form p {
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: 500;
}

.shipping__form div {
  position: relative;
  display: flex;
  align-items: center;
}

.shipping__form div input {
  width: 100%;

  padding: 1rem 0 0.5rem 1rem;
  z-index: 10;

  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
}

.shipping__form div label {
  position: absolute;
  left: 1rem;

  color: #525252;
  font-size: 1rem;

  transition: all 100ms ease-in-out;
}

.shipping__form div input:focus + label,
.shipping__form div input:valid + label {
  transform: translateY(-0.8rem);
  font-size: 0.8rem;
}

.shopping__main {
  display: flex;
}
.cart {
  width: 100%;
}

.shopping-cart__table {
  width: 100%;
  border-spacing: 1rem;
  border-collapse: separate;

}
.shopping-cart__table-row {
  height: 100%;

}
.shopping-cart__quantity-cell
{
  margin-top: auto;
  display: flex;
}
.shopping-cart__product-name
{
  font-weight: 600;
}
.shopping-cart__amount
{
  width: 10%;
  margin-left: 1rem;
  border-radius: 100px;
  text-align: center;
  min-width: 3rem;
}
.shopping-cart__product-info
{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}
.shopping-cart__remove-button
{
  width: 1rem;
  margin-left: 1rem;
}
.shopping-cart__total-row {
  font-weight: 700;
}
.shopping-cart__order-button
{
  border: 2px solid black !important;
  cursor: pointer;
}
.shopping-cart__product-subtotal
{
  font-weight: 600;
}
.shopping-cart__product-image
{
  height: 100%;
}
h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 800;
}
/*MEDIA QUERIES*/
@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (min-width: 640px) {
  .shopping__main {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  main {
  }
}

@media (min-width: 1024px) {
}
