@import "preflight.css";

:root {
  --background-color: #ffffff;
  --primary: #a3a3a3;
  --secondary: #f5f5f5;
  --text-primary: #0a0a0a;
  --text-secondary: #262626;
  --brand: #0ea5e9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

.container {
  max-width: 1024px;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  margin: 0 auto;
}

/*HEADER STYLES*/
.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0;
  position: sticky;
  top: 0;
  z-index: 10;

  border: 2px solid red;
}

.header__menu {
  display: flex;
  gap: 0.5rem;
}

.header__search-form {
  width: 300px;

  position: relative;
}

.header__search {
  width: 100%;
  height: 100%;

  padding-left: 1rem;

  background-color: var(--secondary);
  border-radius: 9999px;
}

.header__search-icon {
  width: fit-content;
  height: 100%;

  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  align-items: center;

  stroke: var(--text-secondary);
}

.header__cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  border-radius: 9999px;
}

/*PRODUCT LIST STYLES*/
main {
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.category-form__form {
  display: flex;
}

.category-form__form label {
  padding: 0.5rem 1rem;

  background-color: #f5f5f5;
  border-radius: 9999px;
  cursor: pointer;
}

.category-form__form label input[type="radio"] {
  display: none;
}

.category-form__form label:has(input[type="radio"]:checked) {
  background-color: #e5e5e5;
}

.product-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;

  border: 2px solid red;
}

.product-list__item__image-container {
  padding: 3rem 4rem;

  background-color: var(--secondary);
  border-radius: 1rem;
}

.product-list__item__image {
  mix-blend-mode: multiply;
}

.category-form {
  width: 100%;

  display: flex;
  justify-content: space-between;

  border: 2px solid red;
}

/*SORT FORM STYLES*/
.sort-form {
  display: flex;
  gap: 1rem;
}

.sort-form select {
  appearance: none;

  display: block;

  background-color: var(--secondary);
  border-radius: 9999px;
}

.shopping-cart__headers {
  font-weight: 700;
  font-size: 2rem;
  background-color: #c1c1c1;
}

.shopping-cart__table {
  margin: 2rem;
}
.shopping-cart__product-cell {
  display: flex;
  align-items: center;
}
.shopping-cart__total-row {
  font-weight: 700;
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
  .product-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
