:root {
  --background-color: #ffffff;
  --primary: #a3a3a3;
  --secondary: #e5e5e5;
  --text-primary: #0a0a0a;
  --text-secondary: #262626;
  --brand: #0ea5e9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #777777;
  position: sticky;
  top: 0;
}

body {
  background-color: gainsboro;
}

.header__logo,
.header__shoppingcart {
  width: 4rem;
  
}

.header__shoppingcart:active{
  transform: scale(0.90); 
  
}
.container-cart{
  position: relative;
}

.cart-count{
  background-color: red;
  width: 15px;
  height: 15px;
  font-weight: 700;
  border-radius: 50%;
  font-size: 1rem;
 
  padding: 2px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  right: 0px;
  top: 0px;
}


main {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
}

.product-list__item {
  width: 100%;
  background-color: white;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
}

.product-list__item__image {
  margin: 0 auto;
  width: 200px;
  height: auto;
  object-fit: contain;
  max-height: 200px;
}

.product-list__item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list__item__title {
  margin-top: auto;
  font-size: 2rem;
}

.product-list__item__footer button {
  padding: 0.5rem 2rem;

  background-color: #777777;
  border-radius: 9999px;
  color: white;
  border: none;
  cursor: pointer;
}
.product-list__item__footer button:hover{
  background-color: var(--primary);
}

.product-list__item__footer button:active{
  transform: scale(0.95); 
 
}


.product-list__item__footer button:hover{
  background-color: var(--primary);
}

.product-list__item__footer button:active{
  transform: scale(0.95); 
 
}

.product-list__item__footer span {
  font-size: 1.6rem;
}

.btn-category {
  padding: 5px 20px;
  background-color: #f1f1f1;
  border-radius: 9999px;
  border: none;
}
.radio__btn {
  display: none;
}

.btn-category:checked {
  background-color: lightslategrey;
}

.category-form {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.shopping-cart__headers {
  font-weight: 700;
  font-size: 2rem;
  background-color: #c1c1c1;
}

.shopping-cart__table {
  margin: 2rem;
}
.shopping-cart__product-cell {
  display: flex;
  align-items: center;
}
.shopping-cart__total-row {
  font-weight: 700;
  font-size: 2rem;
}

.product-modal__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000e9;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0,5s;
  z-index: 10;
}

.product-modal__container {
  background-color: #ffffff;
  width: 40%;
  height: 90%;
  padding: 2rem;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 31%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-modal__container img {
  padding: 3rem;
  width: 20vw;
}

.shopping-cart__empty-text {
  

}

.shopping-cart__remove-button{
  margin-left: 30px;
  width: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;  
}

.shopping-cart__remove-button:hover{
  transform: scale(1.1);
  
}

@media (min-width: 1020px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }

}
